### build overrides

rita_type: "exit"
conf_to_build: "x86_64-exit"
device_template: "x86_64"

##### rita-exit.toml variables

allowed_country_codes: "['US']"
database_uri: "postgresql://..."
description: "Althea Exit Description"
remote_log: "false"
workers: 1

### [exit_network]

entry_timeout: 7776000
exit_hello_port: 4875
exit_price: 10000000
exit_start_ip: "172.168.0.100"
# geoip_api_key: ""
# geoip_api_user: ""
own_internal_ip: "172.168.0.254"
own_internal_netmask: 16
wg_exit_public_key: "..."
wg_exit_private_key: "..."
wg_tunnel_port: 60000

### [localization]
display_currency_symbol: "true"
wyre_enabled: "false"

### [localization.support_number.code]
support_number_code_source: "plus"
support_number_code_value: 1

### [localization.support_number.national]
support_number_value: 5555555555
support_number_zeros: 0

### [network]

exit_mesh_ip: "fd01::1/128"
exit_metric_factor: 1900
exit_direct_peer_interfaces: []
exit_direct_peer_vlans: []
nickname: "Althea Example Exit"
wan_interface: "eth0"
wan_proto: "dhcp"
# wan_proto: "static"
# wan_ipaddr: "1.1.1.2/24"
# wan_ip6addr: "fd00::1/8"
# wan_gateway: "1.1.1.1"
# wan_dns:
#   - "8.8.8.8"
#   - "8.8.4.4"
wg_private_key: ""
wg_public_key: ""

### [network.shaper_settings]

network_shaper_enabled: "true"

### [payment]

bridge_enabled: "true"
debt_limit_enabled: "true"
eth_private_key: ""
free_tier_throughput: 1000
max_fee: 500000000
full_nodes: ["https://dai.althea.net:443"]
system_chain: "Xdai"

### [verif_settings]

mailer: false
# email_address: "exit@example.com"
# smtp_url: "smtp.fastmail.com"
# smtp_domain: "mail.example.com"
# smtp_username: "exit@example.com"
# smtp_password: ""
# balance_notification_interval: 86400
# notify_low_balance: "true"
# test: "false"
# test_dir: ""
phone: false
# phone_auth_api_key: ""
# send_number: "+15555555555"
# twillio_account_id: ""
# twillio_auth_token: ""
# balance_notification_body: "Your Althea router has a low balance! Your service will be slow until more funds are added. Visit althea.net/top-up"

