config interface 'loopback'
        option ifname 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'fdb0:0614:acb7::/48'

{% if gateway %}
config interface 'backhaul'
        option ifname 'eth0'
        option proto 'dhcp'
        option ip6assign '60'
{% else %}
{% for interface in listen_interfaces_client %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
{% endif %}

config interface 'lan'
        option type 'bridge'
        option proto 'static'
        option ipaddr '192.168.1.1'
        option netmask '255.255.255.0'
        option ip6assign '60'
