
config wifi-device 'radio0'
	option type 'mac80211'
	option channel '11'
	option hwmode '11g'
	option path 'platform/ahb/ahb:apb/18100000.wmac'
	option htmode 'HT20'
	option disabled '0'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ifname 'wlan0'
	option ssid '{{wifi_ssid_two_ghz}}'
	option encryption '{{wifi_encryption}}'
	option key 'ChangeMe'
