package babeld

config general
        option 'random-id' 'true'
        option 'debug' '0'
        ## Even though babeld wants log-file uci needs log_file
        option 'log_file' '/var/log/babeld.log'
        ## Enable ipv6-subtrees by default since OpenWrt should ship with a
        ## recent enough kernel for it to work.
        option 'ipv6_subtrees' 'true'
        option 'fee' '{{default_price}}'
        option 'local_port_readwrite' '6872'

## default per-interface options
config interface
        option 'enable_timestamps' 'true'
        option 'max-rtt_penalty' '1000'

config interface
        option 'ifname' 'lo'
        option 'hello_interval' '4'

config filter
        option 'type'   'redistribute'
        option 'if'     'lo'
        option 'action' 'deny'

config filter
        option 'type'   'redistribute'
        option 'eq'     '128'
        option 'action' 'allow'

config filter
        option 'type'   'out'
        option 'eq'     '128'
        option 'action' 'allow'

## Does not share internal addresses
config filter
        option 'type'   'redistribute'
        option 'local'  'true'
        option 'action' 'deny'
