config dnsmasq                     
        option domainneeded '1'
        option boguspriv '0'
        option filterwin2k '0'
        option localise_queries '0'
        option rebind_protection '1'
        option rebind_localhost '1'
        option local '/lan/'
        option domain 'lan'
        option expandhosts '1'
        option nonegcache '0'
        option authoritative '1'
        option readethers '0'
        option leasefile '/tmp/dhcp.leases'
        option resolvfile '/tmp/resolv.conf.auto'
        option nonwildcard '1'
        option localservice '1'
        option cachesize  '4096'
        list server       '1.1.1.1'
        list server       '209.244.0.3'
        list server       '74.82.42.42'
                              
config dhcp 'lan'             
        option interface 'lan'
        option start '100'    
        option limit '150'    
        option leasetime '12h'
        option dhcpv6 'server'
        option ra 'server'    

config dhcp 'backhaul'             
        option interface 'backhaul'
        option ignore '1'
                                                     
config odhcpd 'odhcpd'                               
        option maindhcp '0'         
        option leasefile '/tmp/hosts/odhcpd'
        option leasetrigger '/usr/sbin/odhcpd-update'
        option loglevel '4'      
