config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/c000000.wifi'
        option channel '{{five_ghz_channel}}'
	option band '5g'
	option htmode 'HE80'
        option disabled '{{wifi_disabled}}'

config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'lan'
        option mode 'ap'
        option ifname 'wlan1'
        option ssid '{{wifi_ssid_five_ghz}}'
        option encryption '{{wifi_encryption}}'
        option key '{{wifi_key}}'

config wifi-device 'radio1'
        option type 'mac80211'
        option path 'platform/soc/c000000.wifi+1'
        option channel '{{channel}}'
        option band '2g'
        option htmode 'HE20'
        option disabled '{{wifi_disabled}}'

config wifi-iface 'default_radio1'
        option device 'radio1'
        option network 'lan'
        option mode 'ap'
        option ifname 'wlan0'
        option ssid '{{wifi_ssid_two_ghz}}'
        option encryption '{{wifi_encryption}}'
        option key '{{wifi_key}}'
