config dropbear
        option PasswordAuth '{{password_auth}}'
        option Port         '{{ssh_port}}'
        option Interface 'lan'

{% if dropbear_externally_accessible %}
{% for interface in babeld_interfaces %}
config dropbear
        option PasswordAuth '{{password_auth}}'
        option Port         '{{ssh_port}}'
        option Interface 'babel_{{interface}}'
{% endfor %}
{% endif %}
