config dropbear
        option PasswordAuth 'no'
        option Port         '{{ssh_port}}'

config dropbear
        option PasswordAuth '{{password_auth}}'
        option Port         '{{ssh_port}}'
        option Interface 'lan'