config globals 'globals'
    option packet_steering '1'
    option ula_prefix 'fd53:b760:3c85::/48'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}

config device 'lan_lan1_dev'
        option name 'lan1'

config device 'lan_lan2_dev'
        option name 'lan2'

config device 'lan_lan3_dev'
        option name 'lan3'

config device 'lan_lan4_dev'
        option name 'lan4'

config device 'wan_wan_dev'
        option name 'wan'