config globals 'globals'
	option ula_prefix 'auto'

#config device 'switch_dev'
#	option name 'eth0'
#	option macaddr '60:38:e0:a6:4f:73'

#config device 'wan_dev'
#    option name 'eth1'
#    option macaddr '60:38:e0:a6:4f:72'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
