config globals 'globals'
	option ula_prefix 'fd28:4720:0843::/48'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}