config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd28:4720:0843::/48'

config interface 'lan'
	option ifname 'eth2'
	option force_link '1'
	option type 'bridge'
	option proto 'static'
	option ipaddr '192.168.1.1'
	option netmask '255.255.255.0'
	option ip6assign '60'


{% if gateway %}
config interface 'backhaul'
        option ifname 'eth0'
        option proto 'dhcp'
        option ip6assign '60'
config interface 'backhaul6'
	option ifname '@backhaul'
	option proto 'dhcpv6'

{% endif %}

{% if gateway %}
{% for interface in listen_interfaces_gateway %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
{% else %}
{% for interface in listen_interfaces_client %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
{% endif %}
