config globals 'globals'
        option ula_prefix 'auto'

config interface 'backhaul'
        option ifname 'wan'
        option proto 'dhcp'
        option ip6assign '60'

config interface 'backhaul6'
	option ifname '@backhaul'
	option proto 'dhcpv6'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}