config defaults
	option syn_flood	1
	option input		REJECT
	option output		ACCEPT
	option forward		ACCEPT

{% if gateway %}
config zone
	option name		backhaul
	list   network		'backhaul'
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT
{% endif %}

config zone
	option name		lan
	list   network		'lan'
	option input		ACCEPT
	option output		ACCEPT
	option forward		ACCEPT

# We need this zone to recieve mesh traffic
config zone
	option name		mesh
{% for subnet in mesh_subnets %}
	list   subnet		'{{subnet}}'
{% endfor %}
	option input		REJECT
	option output		ACCEPT
	option forward		ACCEPT

config rule
	option name		Allow-Ping
	option src		mesh
	option proto		icmp
	option target		ACCEPT

{% if dropbear_externally_accessible %}

config rule
	option name		Allow-SSH
	option src		mesh
	option dest_port	22
	option target		ACCEPT
{% endif %}

config rule
	option name		Allow-MLD
	option src		mesh
	option proto		icmp
	list icmp_type		'130/0'
	list icmp_type		'131/0'
	list icmp_type		'132/0'
	list icmp_type		'143/0'
	option family		ipv6
	option target		ACCEPT


# Allow essential incoming IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Input
	option src		mesh
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	list icmp_type		router-solicitation
	list icmp_type		neighbour-solicitation
	list icmp_type		router-advertisement
	list icmp_type		neighbour-advertisement
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT


# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Forward
	option src		mesh
	option dest		*
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT


config rule
	option name		Allow-Babel
	option src		mesh
	option dest_port	6696
	option target		ACCEPT


config rule
	option name		Allow-Rita
	option src		mesh
	option dest_port	4876
	option target		ACCEPT


config rule
	option name		Allow-Rita-Tunnels
	option src		mesh
	option dest_port	59999-65535
	option target		ACCEPT


config rule
	option name		Allow-Rita-Autosetup
	option src		mesh
	option dest_port	4875
	option target		ACCEPT

{% if gateway %}
config rule
	option name		Allow-SSH
	option src		backhaul
	option dest_port	22
	option target		ACCEPT

config rule
	option name		Allow-DHCP
	option src		backhaul
	option proto		udp
	option dest_port	68
	option target		ACCEPT

# Allow DHCPv6 replies
# see https://dev.openwrt.org/ticket/10381
config rule
	option name		Allow-DHCPv6
	option src		backhaul
	option proto		udp
	option src_ip		fc00::/6
	option dest_ip		fc00::/6
	option dest_port	546
	option family		ipv6
	option target		ACCEPT

{% endif %}

config include
	option path /etc/firewall.user

