config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi'
	option channel '{{channel}}'
	option band '2g'
	option htmode 'HE40'
	option disabled '{{wifi_disabled}}'
	option country 'US'
	option legacy_rates '0'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
    option ssid '{{wifi_ssid_two_ghz}}'
	option encryption '{{wifi_encryption}}'
	option key '{{wifi_key}}'
	option wds '1'
	option isolate '0'
	option ifname 'wlan0'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi+1'
	option channel '{{five_ghz_channel}}'
	option band '5g'
	option htmode 'HE80'
	option disabled '0'
	option country 'US'
	option legacy_rates '0'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid 'GL-MT6000-eb4-5G'
    option ssid '{{wifi_ssid_five_ghz}}'
	option encryption '{{wifi_encryption}}'
	option key '{{wifi_key}}'
	option wds '1'
	option isolate '0'
	option ifname 'wlan1'
