
config interface 'loopback'
        option ifname 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'fd44:094c:41e2::/48'

config interface 'lan'
        option type 'bridge'
        option ifname 'eth0.1'
        option proto 'static'
        option ipaddr '192.168.1.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

{% for interface in babeld_interfaces %}
config interface 'babel_{{interface}}'
        option ifname {{interface}}
        option proto static
        option ip6addr fde6::1
{% endfor %}

config switch
        option name 'switch0'
        option reset '1'
        option enable_vlan '1'

config switch_vlan
        option device 'switch0'
        option vlan '1'
        option ports '1 2 3 4 0t'

config interface 'wgExit'
        option proto 'wireguard'
        option private_key 'placeholder'
        list addresses '1.1.1.1'
        option listen_port '51820'

config wireguard_wgExit
        option public_key '{{wg_server_public_key}}'
        list allowed_ips '{{wg_internal_gateway}}, ::/0'
# Omitted as they are not currently required, the exit calls you
#        option endpoint_host '[{{wg_server}}]'
#        option endpoint_port '{{wg_port}}'
        option persistent_keepalive '25'
