
config interface 'loopback'
        option ifname 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'fd3c:8a76:b02c::/48'

config interface 'lan'
        option type 'bridge'
        option ifname 'eth0.1'
        option proto 'static'
        option ipaddr '192.168.1.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

config device 'wan_dev'
        option name 'eth0.2'
        option macaddr '00:90:a9:ad:b7:b0'

{% for interface in babeld_interfaces %}
config interface 'babel_{{interface}}'
        option ifname {{interface}}
        option proto static
        # Placeholder replaced at setup time
        option ip6addr fde6:464b:717b:530d:f060:263a:57b0:76ac

{% endfor %}

config switch
        option name 'switch0'
        option reset '1'
        option enable_vlan '1'

config switch_vlan
        option device 'switch0'
        option vlan '1'
        option ports '1 2 3 4 0t'

config switch_vlan
        option device 'switch0'
        option vlan '2'
        option ports '5 0t'

config interface 'wg0'
        option proto 'wireguard'
        option private_key 'placeholder'
        list addresses 'fd00:13:37:ffff::1/64'

config wireguard_wg0
        option public_key '{{wg_server_public_key}}'
        option route_allowed_ips '1'
        list allowed_ips '{{wg_internal_gateway}}'
        option endpoint_host '{{wg_server}}'
        option endpoint_port '{{wg_port}}'
        option persistent_keepalive '25'
