config interface 'wg0'
	option proto 'wireguard'
	option private_key '{{wg_private_key}}'
	list addresses 'fd00:13:37:ffff::1/64'

config wireguard_wg0
	option public_key '{{wg_server_public_key}}'
	option preshared_key '{{wg_server_preshared_key}}'
	option route_allowed_ips '1'
	list allowed_ips 'fd00:13:37::/64'
	option endpoint_host '{{wg_server}}'
	option endpoint_port '{{wg_port}}'
