config globals 'globals'
	option ula_prefix 'fd97:9c8c:c3f2::/48'

config interface 'backhaul'
	option ifname 'eth2'
	option proto 'dhcp'

config interface 'backhaul6'
	option ifname '@backhaul'
	option proto 'dhcpv6'


{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
        option ip6addr fde6::1
{% endfor %}