config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd97:9c8c:c3f2::/48'

{% if gateway %}
config interface 'lan'
	option type 'bridge'
	option ifname 'lan0'
	option proto 'static'
	option ipaddr '192.168.1.1'
	option netmask '255.255.255.0'
	option ip6assign '60'
{% else %}
config interface 'lan'
	option type 'bridge'
	option ifname 'lan0 lan1 lan2 lan3 lan4'
	option proto 'static'
	option ipaddr '192.168.1.1'
	option netmask '255.255.255.0'
	option ip6assign '60'
{%endif%}



{% if gateway %}
config interface 'backhaul'
	option ifname 'eth2'
	option proto 'dhcp'

config interface 'backhaul6'
	option ifname 'eth2'
	option proto 'dhcpv6'
{% endif %}


{% if gateway %}
{% for interface in listen_interfaces_gateway %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
        option ip6addr fde6::1
{% endfor %}
{% else %}
{% for interface in listen_interfaces_client %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
        option ip6addr fde6::1
{% endfor %}
{% endif %}
