config globals 'globals'
	option ula_prefix 'fd76:32a2:9e4e::/48'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
