[payment]
buffer_period = 3
node_list = [{% for node in node_list %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]

[network]
bounty_ip = "fd00::1337:0e1f"
babel_port = 6872
rita_contact_port = 4874
rita_hello_port = 4876
rita_dashboard_port = 4877
rita_tick_interval = 5
bounty_port = 8888
wg_private_key_path = "/tmp/priv"
wg_start_port = 60000
tunnel_timeout_seconds = 900
{% if gateway %}
peer_interfaces = [{% for interface in listen_interfaces_gateway %}"{{interface}}"{{ "," if not loop.last else "" }}{% endfor %}]
{% else %}
peer_interfaces = [{% for interface in listen_interfaces_client %}"{{interface}}"{{ "," if not loop.last else "" }}{% endfor %}]
{% endif %}
{% if gateway %}
external_nic = "{{wan_interface}}"
{% endif %}
manual_peers = ["test.altheamesh.com", "apac.altheamesh.com", "exit.altheamesh.com", "canada-east.altheamesh.com", "aus.altheamesh.com", "borked.altheamesh.com"]
conf_link_local = true
default_route = []
device = "{{device}}"

[exit_client]
wg_listen_port = 59999
lan_nics = ['lan']
current_exit = "{{default_exit}}"

[exit_client.exits.test]
registration_port = 4875
description = "The Althea testing exit. Unstable!"
state = "New"
[exit_client.exits.test.id]
mesh_ip = "fd00::1337:0e1f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "hw2rXXaIOfbcOXbvejB3AyuoSAb3QhPXjC5MwxRqkls="

[exit_client.exits.borked]
registration_port = 4875
description = "Borked! For developers only!"
state = "New"
[exit_client.exits.borked.id]
mesh_ip = "fd00::1337:0e6f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "4f3TBCL2HxxPreajT+FsAYzmQa0ZmeYYNHvpORX9tm8="

[exit_client.exits.us_west]
registration_port = 4875
description = "The Althea Production US exit"
state = "New"
[exit_client.exits.us_west.id]
mesh_ip = "fd00::1337:0e2f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "jkIodvXKgij/rAEQXFEPJpls6ooxXJEC5XlWA1uUPUg="

[exit_client.exits.canada_east]
registration_port = 4875
description = "Althea production Canada Exit"
state = "New"
[exit_client.exits.canada_east.id]
mesh_ip = "fd00::1337:0e3f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "sA76hy4X2nPhccGJeBClVUzZ6bntGrUD0GjBJDjVYBE="

[exit_client.exits.apac]
registration_port = 4875
description = "In Singapore"
state = "New"
[exit_client.exits.apac.id]
mesh_ip = "fd00::1337:0e4f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "1kKSpzdhI4kfqeMqch9I1bXqOUXeKN7EQBecVzW60ys="

[exit_client.exits.aus]
registration_port = 4875
description = "Althea testing exit in Australia"
state = "New"
[exit_client.exits.aus.id]
mesh_ip = "fd00::1337:0e5f"
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "z3aS2DNWWrbpMYZra2BuoV4gjcVTHVxinKAi4H8t7m8="

[exit_client.reg_details]
email = "placeholder@domain.com"

[dao]
dao_enforcement = true
cache_timeout_seconds = 600
node_list = [{% for node in node_list %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
dao_addresses = []


[log]
{% if logging_enabled %}
enabled = true
{% else %}
enabled = true
{% endif %}
level = "{{logging_level}}"
