allowed_countries = []
description = "{{description}}"
remote_log = {{remote_log}}
workers = {{workers}}


[exit_network]
entry_timeout = {{entry_timeout}}
exit_hello_port = {{exit_hello_port}}
exit_price = {{exit_price}}
exit_start_ip = "{{exit_start_ip}}"
{% if geoip_api_key is defined %}
geoip_api_key = "{{geoip_api_key}}"
{% endif %}
{% if geoip_api_user is defined %}
geoip_api_user = "{{geoip_api_user}}"
{% endif %}
netmask = {{own_internal_netmask}}
own_internal_ip = "{{own_internal_ip}}"
wg_private_key_path = "/tmp/exit-priv"
wg_tunnel_port = {{wg_tunnel_port}}
wg_v2_tunnel_port = {{wg_v2_tunnel_port}}
registered_users_contract_addr = "{{registered_users_contract_addr}}"

[network]
babel_port = 6872
backup_created = false
discovery_ip = "ff02::1:8"
{% if wan_interface is defined %}
external_nic = "{{wan_interface}}"
{% elif external_nic is defined %}
external_nic = "{{external_nic}}"
{% endif %}
manual_peers = []
metric_factor = {{exit_metric_factor}}
nickname = "{{nickname}}"
peer_interfaces = [{% for iface in (exit_direct_peer_interfaces + exit_direct_peer_vlans) %}"{{iface}}"{{ "," if not loop.last else "" }}{% endfor %}]
rita_contact_port = 4874
rita_dashboard_port = {{rita_dashboard_port}}
rita_hello_port = {{rita_hello_port}}
rita_tick_interval = 5
usage_tracker_file = "/etc/rita-usage-tracker.json"
user_set_release_feed = false
wg_private_key_path = "/tmp/priv"
wg_start_port = {{wg_start_port}}

[network.shaper_settings]
enabled = {{network_shaper_enabled}}
max_speed = 10000
min_speed = 50

[payment]
apply_incoming_credit_immediately = true
balance_warning_level = "10000000000000000"
bridge_enabled = {{bridge_enabled}}
client_can_use_free_tier = true
close_threshold = "-504000000000000000"
debt_limit_enabled = {{debt_limit_enabled}}
debts_file = "/etc/rita-exit-debts.json"
dynamic_fee_multiplier = 6000
forgive_on_reboot = false
free_tier_throughput = {{free_tier_throughput}}
fudge_factor = 0
gas_price = "1000000000"
light_client_fee = 0
local_fee = 0
net_version = "100"
node_list = [{% for node in full_nodes %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
nonce = "1035843"
pay_threshold = "126000000000000000"
simulated_transaction_fee = 10
simulated_transaction_fee_address = "0xEE8BBA37508cd6f9dB7c8AD0AE2b3DE0168c1b36"
system_chain = "{{system_chain}}"
withdraw_chain = "{{system_chain}}"