#!/bin/ash
# This script is used to set all node-specific data at first startup time
set -eu

# Generate system password
password=$(< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c${1:-8})
uci set system.password=$password
{% if private_radio is defined %}
{% for radio in private_radio %}
uci set wireless.{{radio}}.key=$password
uci set wireless.default_{{radio}}.key=$password
{% endfor %}
{% endif %}
echo $password

# Generate wireguard key
wg_key=$(wg genkey)
wg_pub_key=$(echo $wg_key | wg pubkey)
echo $wg_pub_key
uci set network.wgExit.private_key=$wg_key

# Generate wireguard client ip
ip=$internal_ip
uci set network.wgExit.addresses="$ip/16"

# Generate Mesh ip
ip=$(generate-ipv6-address -s -r)

{% if gateway %}
uci set network.wgBridge.private_key=$wg_key
{% for interface in gateway_interfaces %}
uci set network.babel_{{interface | replace(".","")}}.ip6addr=$ip
{% endfor %}

{% elif extender %}
{% for interface in extender_interfaces %}
uci set network.babel_{{interface | replace(".","")}}.ip6addr=$ip
{% endfor %}

{% else %}
{% for interface in babeld_interfaces %}
uci set network.babel_{{interface | replace(".","")}}.ip6addr=$ip
{% endfor %}
{% endif %}
echo $ip

# Commit UCI changes
uci commit

# Enable and start services
/etc/init.d/network restart
/etc/init.d/babeld enable
/etc/init.d/babeld start
