{% if dual_radio_mesh %}
config wifi-device 'radio1'
        option type 'mac80211'
        option channel '{{private_channel}}'
        option hwmode '11g'
        option path 'platform/qca955x_wmac'
        option htmode 'HT20'
        option disabled '{{mesh_wifi_disabled}}'

config wifi-iface 'default_radio1'
        option device 'radio1'
        option network 'babel_wlan0'
        option mode 'adhoc'
        option ssid '{{mesh_wifi_ssid}}'
        option encryption '{{mesh_wifi_encryption}}'
        option key '{{mesh_wifi_key}}'


config wifi-device 'radio0'
        option type 'mac80211'
        option channel '{{mesh_channel}}'
        option hwmode '11a'
        option path 'pci0000:01/0000:01:00.0'
        option htmode 'VHT80'
        option disabled '{{mesh_wifi_disabled}}'

config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'babel_wlan1'
        option mode 'adhoc'
        option ssid '{{mesh_wifi_ssid}}'
        option encryption '{{mesh_wifi_encryption}}'
        option key '{{mesh_wifi_key}}'

{% else %}
config wifi-device 'radio1'
        option type 'mac80211'
        option channel '{{private_channel}}'
        option hwmode '11g'
        option path 'platform/qca955x_wmac'
        option htmode 'HT20'
        option disabled '{{private_wifi_disabled}}'

config wifi-iface 'default_radio1'
        option device 'radio1'
        option network 'lan'
        option mode 'ap'
        option ssid '{{private_wifi_ssid}}'
        option encryption '{{private_wifi_encryption}}'
        option key '{{private_wifi_key}}'

{% if wifi_mesh %}
config wifi-device 'radio0'
        option type 'mac80211'
        option channel '{{mesh_channel}}'
        option hwmode '11a'
        option path 'pci0000:01/0000:01:00.0'
        option htmode 'VHT80'
        option disabled '{{mesh_wifi_disabled}}'

config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'babel_wlan1'
        option mode 'adhoc'
        option ssid '{{mesh_wifi_ssid}}'
        option encryption '{{mesh_wifi_encryption}}'
        option key '{{mesh_wifi_key}}'

{% else %}
config wifi-device 'radio0'
        option type 'mac80211'
        option channel '{{private_5g_channel}}'
        option hwmode '11a'
        option path 'pci0000:01/0000:01:00.0'
        option htmode 'VHT80'
        option disabled '{{private_wifi_disabled}}'

config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'lan'
        option mode 'ap'
        option ssid '{{private_wifi_ssid}}'
        option encryption '{{private_wifi_encryption}}'
        option key '{{private_wifi_key}}'

{% endif %}
{% endif %}
