config interface 'loopback'
        option ifname 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'fdab:d0df:0da9::/48'

config interface 'lan'
        option type 'bridge'
        option ifname 'eth1.5'
        option proto 'static'
        option ipaddr '192.168.1.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

{% if gateway %}
config interface 'backhaul'
        option ifname 'eth0.1'
        option proto 'dhcp'
        option ip6assign '60'

config interface 'backhaul6'
        option ifname 'eth0.1'
        option proto 'dhcpv6'
{% endif %}

config switch
        option name 'switch0'
        option reset '1'
        option enable_vlan '1'

{% if gateway %}
{% for interface in listen_interfaces_gateway %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
config switch_vlan
        option device 'switch0'
        option vlan '2'
        option ports '2 0t'
config switch_vlan
        option device 'switch0'
        option vlan '3'
        option ports '3 0t'
config switch_vlan
        option device 'switch0'
        option vlan '4'
        option ports '4 0t'
config switch_vlan
        option device 'switch0'
        option vlan '5'
        option ports '5 0t'

{% else %}
{% for interface in listen_interfaces_client %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}
config switch_vlan
        option device 'switch0'
        option vlan '2'
        option ports '2 0t'

config switch_vlan
        option device 'switch0'
        option vlan '5'
        option ports '5, 4, 3 0t'
{% endif %}

# WAN
config switch_vlan
        option device 'switch0'
        option vlan '1'
        option ports '1 6t'

