
config interface 'loopback'
        option ifname 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'fd44:094c:41e2::/48'

config interface 'lan'
        option type 'bridge'
        option ifname 'eth1'
        option proto 'static'
        option ipaddr '192.168.2.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

config interface mytunnel1
	option proto gre
	option tunlink lan
	option zone lan
	option peeraddr 192.168.2.2

config interface mytunnel1_static
	option proto static
	option ifname @mytunnel1
	option ipaddr 10.0.0.2
	option netmask 255.255.255.254

config interface 'lan2'
        option type 'bridge'
        option ifname 'eth2'
        option proto 'static'
        option ipaddr '192.168.3.1'
        option netmask '255.255.255.0'
        option ip6assign '60'

config interface mytunnel2
	option proto gre
	option tunlink lan
	option zone lan
	option peeraddr 192.168.3.2

config interface mytunnel2_static
	option proto static
	option ifname @mytunnel2
	option ipaddr 10.0.0.4
	option netmask 255.255.255.254

config interface 'host'
        option ifname 'eth0'
        option proto 'dhcp'

config interface 'host'
        option ifname 'eth0'
        option proto 'dhcpv6'

config switch
        option name 'switch0'
        option reset '1'
        option enable_vlan '1'

config switch_vlan
        option device 'switch0'
        option vlan '1'
        option ports '1 2 3 4 0t'

config interface 'wg0'
        option proto 'wireguard'
        option private_key '{{wg_private_key}}'
        list addresses 'fd00:13:37:ffff::1/64'
