config globals 'globals'
        option ula_prefix 'auto'

{% for interface in listen_interfaces %}
config interface 'rita_{{interface | replace(".","")}}'
        option ifname {{interface}}
        option proto static
{% endfor %}

config interface 'backhaul6'
	option ifname '@backhaul'
	option proto 'dhcpv6'