config wifi-device 'radio0'
        option type 'mac80211'
        option channel '{{channel}}'
        option hwmode '11g'
	option path 'soc/soc:pcie@82000000/pci0000:00/0000:00:02.0/0000:02:00.0'
        option htmode 'HT20'
        option disabled '{{wifi_disabled}}'

config wifi-iface 'default_radio0'
        option device 'radio0'
        option network 'lan'
        option mode 'ap'
        option ifname 'wlan1'
        option ssid '{{wifi_ssid_five_ghz}}'
        option encryption '{{wifi_encryption}}'
        option key '{{wifi_key}}'

config wifi-device 'radio1'
        option type 'mac80211'
        option channel '{{five_ghz_channel}}'
        option hwmode '11a'
	option path 'soc/soc:pcie@82000000/pci0000:00/0000:00:03.0/0000:03:00.0'
        option htmode 'VHT80'
        option disabled '{{wifi_disabled}}'

config wifi-iface 'default_radio1'
        option device 'radio1'
        option network 'lan'
        option mode 'ap'
        option ifname 'wlan0'
        option ssid '{{wifi_ssid_two_ghz}}'
        option encryption '{{wifi_encryption}}'
        option key '{{wifi_key}}'
